@model EditViewModel

@{
    ViewBag.Title = "修改課程";
}

<div class="container ms-auto">
    <div class="card col-4 mx-auto bg-white my-5 p-3">
        <h4 class="align-self-center">修改課程</h4>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger", sortOrder = ViewBag.DateSortParm })

                <div class="mb-3 mt-2">
                    @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label mb-1" })
                    <div class="col">
                        @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
                    </div>
                </div>

                @* 以下為使用有套用bootstrap樣式的select ... option 的下拉選單 *@
                <div class="form-group mt-3">
                    @* 這邊的Name要跟 CourseCreateViewModel中的欄位名稱對應，不然後端Controller會吃不到這個欄位 *@
                    @* 基本上所有的表單輸入欄位的name屬性只要有跟任何ViewModel中的欄位名稱有對應到就可以把value指定到ViewModel的欄位中 *@
                    <select class="form-select" name="TestType">
                        <option selected>請選擇操作實驗組別</option>
                        <option value="0">控制組</option>
                        <option value="1">實驗組一：自我調節</option>
                        <option value="2">實驗組二：同儕互評</option>
                        <option value="3">實驗組三：社會共享調節</option>
                        <option value="4">實驗組四：互動式同儕互評</option>
                        <option value="5">實驗組五：社會共享調節&互動式同儕互評</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.TestType, "", new { @class = "text-danger" })
                </div>

                <div class="form-actions no-color row p-3">
                    <input type="submit" value="儲存" class="btn btn-primary col-5" />
                    <a href="@Url.Action("Home", "Teacher")" class="btn btn-secondary col-5 ms-auto">取消</a>
                </div>
            </div>
        }
    </div>
</div>
