@model TaskGuideStapPartialViewModel
@{

    var CurrentAction = Model.CurrentAction;
    var StapName = Model.StapName;
    var k = Model.k;
    //var buttonLink = Url.Action("Index", "Mission", new { CID = Model.CourseID, MID = Model.MissionID, TID = Model.TaskID, SID = Model.StudentID, AID = Model.ActionID, Step = k + 1 });

    string[] str =
    {
        "step align-self-center opacity-50",
        "step align-self-center active",
        "step align-self-center"
    };
    string disabledString = "";


    // -48 是因為 char 轉 int 的關係
    if ((Convert.ToInt32(CurrentAction[k]) - 48) == 0)
    {
        Model.buttonLink = "";
        disabledString = "disabled";
    }

    string a_url = "";
    if (Model.IsLeader || (!Model.IsLeader && Model.TestType == 1)) { a_url = Model.buttonLink; }
}

<div class="@str[Convert.ToInt32(CurrentAction[k])-48]" data-target="#test-vl-3">
    <a class="step-trigger @disabledString" role="tab" id="stepper4trigger3" aria-controls="test-vl-3" href="@a_url">
        <span class="bs-stepper-circle">@(k + 1)</span>
        <span class="bs-stepper-label">@StapName</span>
    </a>
</div>