@model LearningProcessViewModel
@{
    ViewBag.Title = "學習歷程";

    string[] group_name = { "A", "B", "C", "D", "E", "F"};
}

<div class="container">
    @*標題*@
    <div class="card m-3 p-3">
        <h1 class="w-auto mx-auto fs-2" id="Title">我們小組學習狀況</h1>
    </div>

    @*圖表 左邊長條圖 右邊雷達圖*@
    <div class="row">
        <div class="col-6">
            <div class="card ms-3 mt-2 me-1 mb-3 p-3">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
        <div class="col-6">
            <div class="card me-3 mt-2 me-1 mb-3 p-3">
                <canvas id="myChart2" width="400" height="400"></canvas>
            </div>
        </div>
    </div>

    @if(Model.Detail.Count() > 0)
        {
    @*教師分數與回饋*@
    <div class="card m-3 p-3" id="Detail">
        @*設置按鈕切換不同組教師給的分數與回饋*@

        
        @if(Model.Detail.Count() > 1)
        {
            <div class="btn-group m-3" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked />
                <label class="btn btn-outline-primary" for="btnradio1">教師</label>

                @for(int i = 1; i < Model.Detail.Count(); ++i)
                {
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio@(i+1)" autocomplete="off" />
                    <label class="btn btn-outline-primary" for="btnradio@(i+1)">@(group_name[i-1]) 組別</label>
                }
            </div>
            <hr />
        }

        <h1 class="w-auto mx-auto fs-2" id="ScoreTitle">教師分數</h1>

        <div class="row gap-5 ms-3 me-3 mt-2">
            <div class="col bg-body-tertiary border border-primary border-2 rounded-3" style="min-height: 160px">
                <h2 class="text-center my-2">邏輯性</h2>
                <hr class="bg-primary border border-primary border-1"/>
                <h2 class="text-center my-auto" id="PE01">@Model.Detail[0].Score[0]</h2>
            </div>
            <div class="col bg-body-tertiary border border-primary border-2 rounded-3" style="min-height: 160px">
                <h2 class="text-center my-2">正確性</h2>
                <hr class="bg-primary border border-primary border-1"/>
                <h2 class="text-center my-auto" id="PE02">@Model.Detail[0].Score[1]</h2>
            </div>
            <div class="col bg-body-tertiary border border-primary border-2 rounded-3" style="min-height: 160px">
                <h2 class="text-center my-2">可讀性</h2>
                <hr class="bg-primary border border-primary border-1"/>
                <h2 class="text-center my-auto" id="PE03">@Model.Detail[0].Score[2]</h2>
            </div>
        </div>
        <hr />

        <h1 class="w-auto mx-auto fs-2" id="EvaluateTitle">教師評價</h1>

        <div class="row ms-3 me-3 mt-2 gap-4" id="EvaluationDetail">
            @for(int i = 1; i <= Model.Detail[0].TestFeedback.Count(); ++i)
            {
                <div class="col-12 bg-body-tertiary border border-primary border-2 rounded-3" style="min-height: 60px">
                    <p class="fs-4 mt-2">@(i). @Model.Detail[0].TestFeedback[i-1]</p>
                </div>
            }
        </div>
    </div>
     }
</div>

<template id="EvaluationDetailShort">
    <div class="col-12 bg-body-tertiary border border-primary border-2 rounded-3" style="min-height: 60px">
        <p class="fs-4 mt-2" id="P_text"></p>
    </div>
</template>

<template id="coaching-data-main">
    @*如果有回饋才顯示*@
    <hr class="coaching-data"/>
    <h1 class="w-auto mx-auto fs-2 coaching-data">該組回饋</h1>
</template>

<template id="coaching-data-detail">
    @*顯示題目 評價合理嗎 的答案*@
    <div class="row ms-3 me-3 mt-2 gap-4 coaching-data">
        <div class="col-9 bg-body-tertiary border border-secondary border-2 rounded-3" style="min-height: 60px">
            <p class="fs-4 mt-2">該組覺得評價合理嗎?</p>
        </div>
        <div class="col bg-body-tertiary border border-secondary border-2 rounded-3" style="min-height: 60px">
            <p class="fs-4 mt-2 text-center" id="PC01">非常合理</p>
        </div>
    </div>
</template>

<template id="coaching-data-short">
    <div class="row ms-3 me-3 mt-2 gap-4 coaching-data">
        <div class="col-12 bg-body-tertiary border border-secondary border-2 rounded-3" style="min-height: 60px">
            <p class="fs-4 mt-2" id="short"></p>
        </div>
    </div>
</template>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>

    <script>
        // 這邊存放要切換顯示的資料

        // 圖表分數陣列
        var ChartScore = [
            [@Model.CourseAgv.Data[0], @Model.CourseAgv.Data[1], @Model.CourseAgv.Data[2]],
            [@Model.GroupAgv.Data[0], @Model.GroupAgv.Data[1], @Model.GroupAgv.Data[2]]
        ];

        // 各組分數資料
        var DetailData = @Json.Serialize(Model.Detail);
        // 加老師有幾個組別
        var GroupCount = @Model.Detail.Count();

    </script>

    <script>

        if(GroupCount > 1)
        {
            // 切換不同的組別分數與回饋
            $(document).ready(function () {
                $("#btnradio1").click(function () {
                    $(".coaching-data").remove();
                    $("#EvaluationDetail").remove();
                    $("#Detail").append('<div class="row ms-3 me-3 mt-2 gap-4" id="EvaluationDetail"></div>');
                    $("#ScoreTitle").text("教師分數");
                    $("#EvaluateTitle").text("教師評價");
                    $("#PE01").text(DetailData[0].score[0]);
                    $("#PE02").text(DetailData[0].score[1]);
                    $("#PE03").text(DetailData[0].score[2]);
                    
                    for(var j = 0; j < DetailData[0].testFeedback.length; ++j)
                    {
                        
                        let template = $("#EvaluationDetailShort").html();
                        var EvaluationDetailShort = $(template);
                        EvaluationDetailShort.find("#P_text").text(`${j+1}. ${DetailData[0].testFeedback[j]}`);
                        $("#EvaluationDetail").append(EvaluationDetailShort);
                        console.log(EvaluationDetailShort);
                        
                    }
                    
                });
                // 這邊要改成迴圈
                @for(int i = 1; i < Model.Detail.Count(); ++i)
                {
                    <text>
                    $("#btnradio@(i+1)").click(function () {
                        $(".coaching-data").remove();
                        $("#EvaluationDetail").remove();
                        $("#Detail").append('<div class="row ms-3 me-3 mt-2 gap-4" id="EvaluationDetail"></div>');
                        $("#ScoreTitle").text("@(group_name[i-1]) 組別分數");
                        $("#EvaluateTitle").text("@(group_name[i-1]) 組別評價");
                        $("#PE01").text(DetailData[@i].score[0]);
                        $("#PE02").text(DetailData[@i].score[1]);
                        $("#PE03").text(DetailData[@i].score[2]);
                        @if(Model.Detail[i].TestFeedback != null)
                        {
                            @for(int j = 0; j <= Model.Detail[i].TestFeedback.Count() - 1; ++j)
                            {
                                <text>
                                let template@(i)@(j) = $("#EvaluationDetailShort").html();
                                var EvaluationDetailShort = $(template@(i)@(j));
                                EvaluationDetailShort.find("#P_text").text(`@(j+1). @Model.Detail[i].TestFeedback[j]`);
                                $("#EvaluationDetail").append(EvaluationDetailShort);
                                console.log(EvaluationDetailShort);
                                </text>
                            }
                        }
                        @if(Model.Detail[i].ReTestFeedback != null)
                        {
                            <text>
                            let template = $("#coaching-data-main").html();
                            var CoachingMain = $(template);
                            $("#Detail").append(CoachingMain);
                            let formCheck = $("#coaching-data-detail").html();
                            var CoachingDetail = $(formCheck);
                            CoachingDetail.find("#PC01").text(DetailData[@i].reTestFeedback[0]);
                            $("#Detail").append(CoachingDetail);
                            @for(int j = 1; j <= Model.Detail[i].ReTestFeedback.Count() - 1; ++j)
                            {
                                <text>
                                var formCheck@(j+2) = $("#coaching-data-short").html();
                                var CoachingShort = $(formCheck@(j+2));
                                CoachingShort.find("#short").text(`@(j). ${DetailData[@i].reTestFeedback[@j]}`);
                                $("#Detail").append(CoachingShort);
                                </text>
                            }
                            </text>
                        }
                        });
                    </text>
                }
            });
        }

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['邏輯性', '正確性', '可讀性'],
                datasets: [{
                    label: '全班平均',
                    data: ChartScore[0],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }, {
                    label: '小組平均',
                    data: ChartScore[1],
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'radar',
            data: {
                labels: ['邏輯性', '正確性', '可讀性'],
                datasets: [{
                    label: '全班平均',
                    data: ChartScore[0],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }, {
                    label: '小組平均',
                    data: ChartScore[1],
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: '我們組與全班平均'
                    }
                },
                ticks: {
                    max: 3,
                    min: 0,
                    stepSize: 0.3
                }
            }
        });
    </script>
}

