@model TeacherNavViewModel
@{
    var CourseID = Model.CourseID;
    var ActiveIndex = Model.ActiveIndex;

    string[] IsActive = new string[2] { "active", "" };
}

<li><a class="text-white nav-link @IsActive[ActiveIndex == 0 ? 0 : 1]" href="@Url.Action("Index", "Mission", new { CID = CourseID })">任務管理</a></li>
<li><a class="text-white nav-link @IsActive[ActiveIndex == 1 ? 0 : 1]" href="@Url.Action("Index", "StudentManagement", new { cid = CourseID })">學生名單</a></li>@* 
<li><a class="text-white nav-link @IsActive[ActiveIndex == 2 ? 0 : 1]" href="@Url.Action("TeacherJourney", "LearningBehaviors", new { CID = CourseID })">學習表現</a></li>
<li><a class="text-white nav-link @IsActive[ActiveIndex == 3 ? 0 : 1]" href="@Url.Action("TeacherEvalutionJourney", "LearningBehaviors", new { CID = CourseID })">學習表現(互評版)</a></li>
<li><a class="text-white nav-link @IsActive[ActiveIndex == 4 ? 0 : 1]" href="@Url.Action("Index", "LearningBehaviors", new { SearchID = CourseID })">新學習表現</a></li> *@