@model StudentManagementViewModel
@{
    //Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

@section NavPills {
    <ul class="nav nav-pills me-auto ms-3">
        @Html.Partial("~/Views/Nav/_TeacherNavPartial.cshtml", new TeacherNavViewModel { CourseID = Model.CourseId, ActiveIndex = 1 })
    </ul>
}

@section topCSS {
    <link rel="stylesheet" href="~/lib/bootstrap-fileinput/css/fileinput.min.css" />
}

<div class="cardArticle">
    <h4>@Model.CourseName</h4>
    <p>學生列表</p>
</div>
<div class="card " style="box-sizing: border-box; width: 100%; max-width: 1200px; margin: 20px auto 20px; border-radius: 5px; border: 1px solid #dee2e6; border-color: #cdcdcd;">
    <div class="card-header" style=" padding: 30px 50px 8px 50px;">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="@Url.Action("StudentManagement", "Course", new { CID = Model.CourseId})"><h5>修課名單</h5></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("StudentGroup", "Course", new { CID = Model.CourseId})"><h5>分組名單</h5></a>
            </li>
        </ul>
    </div>
    <br />
    <div class="card-body" style="padding: 20px 50px 50px;">
        <p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UploadModal">
                <i class="bi bi-folder2"></i>
                匯入資料
            </button>
            <a class="btn btn-primary" href="@Url.Action("StudentCreate", "StudentManagement", new { cid = Model.CourseId})">
                <i class="bi bi-plus-lg"></i>
                新增學生
            </a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>
                        姓名
                    </th>
                    <th>
                        學號
                    </th>
                    <th>
                        組別
                    </th>
                    <th>
                        性別
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="number">
                @foreach (var item in Model.Students)
                {
                    <tr>
                        <td>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentSex)
                        </td>
                        <td class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a class="btn btn-link" style="padding: 5px 5px 5px 5px" href="@Url.Action("StudentEdit", "Course", new { sid = item.StudentId, cid = Model.CourseId})">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <a class="btn btn-link" style="padding: 5px 5px 5px 5px" href="@Url.Action("StudentDelete", "Course",new { sid = item.StudentId, cid = Model.CourseId})">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("_UploadFile")
    </div>
</div>

@section scripts
{
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/lib/jquery.form/jquery.form.js"></script>
    <script src="~/lib/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="~/lib/bootstrap-fileinput/js/locales/zh-TW.js"></script>
    <script src="~/lib/bootstrap-fileinput/themes/fa6/theme.js"></script>
    <script>
        window.onload = function () {
            var tableLine = document.getElementById("number");
            for (var i = 0; i < tableLine.rows.length; i++) {
                tableLine.rows[i].cells[0].innerHTML = (i + 1);
            }
        }

        $(function () {
            $("#file").fileinput({
                theme: 'fa',
                language: 'zh-TW',
                uploadUrl: '@Url.Action("Upload", "StudentManagement", new { cid = Model.CourseId})',
                textEncoding: 'utf-8',
                required: true,
                showBrowse: true,
                browseOnZoneClick: true,
                dropZoneEnabled: true,
                allowedFileExtensions: ["csv"],//只能選擇csv格式的檔案提交
                //maxFileSize: 0,//單位為kb，如果為0表示不限制檔案大小
                /*不同檔案圖示配置*/
                previewFileIconSettings: {
                    'docx': '<i class="fa fa-file-word-o text-primary" ></i>',
                    'xlsx': '<i class="fa fa-file-excel-o text-success"></i>',
                    'pptx': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                    'jpg': '<i class="fa fa-file-photo-o text-warning"></i>',
                    'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                    'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                    'doc': '<i class="fa fa-file-word-o text-primary"></i>',
                    'xls': '<i class="fa fa-file-excel-o text-success"></i>',
                    'ppt': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                    'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                    'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                    'htm': '<i class="fa fa-file-code-o text-info"></i>',
                    'txt': '<i class="fa fa-file-text-o text-info"></i>',
                    'mov': '<i class="fa fa-file-movie-o text-warning"></i>',
                    'mp3': '<i class="fa fa-file-audio-o text-warning"></i>',
                    'jpg': '<i class="fa fa-file-photo-o text-danger"></i>',
                    'gif': '<i class="fa fa-file-photo-o text-muted"></i>',
                    'png': '<i class="fa fa-file-photo-o text-primary"></i>'
                },
                layoutTemplates: { actionUpload: '' },
                /*上傳成功之後執行*/
                fileuploaded: $("#file").on("fileuploaded", function (event, data, previewId, index) {
                    //alert("新增成功")
                    location.reload();
                }),

                /*上傳出錯誤處理*/
                fileerror: $('#file').on('fileerror', function (event, data, msg) {
                    console.log(data);
                 }),
            });
        });
    </script>
}

