@model StudentCreateViewModel
@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

@section NavPills {
    <ul class="nav nav-pills me-auto ms-3">
        @Html.Partial("~/Views/Nav/_TeacherNavPartial.cshtml", new TeacherNavViewModel { CourseID = Model.CourseId , ActiveIndex = 0})
    </ul>
}

<div class="container">
    <div class="card m-3 p-4">
        <h4>@Model.CourseName</h4>
        @*<ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "StudentManagement", new { CID = Model.CID})">學生列表</a></li>
            <li class="breadcrumb-item active" aria-current="page">新增學生</li>
        </ol>*@
    </div>
    <div class="card m-3 p-4">
        <h4><b>新增學生</b></h4>
        <hr />
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "registerform" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="mb-3">
                    @Html.LabelFor(model => model.student.StudentName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-5">
                        @Html.EditorFor(model => model.student.StudentName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.student.StudentName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.student.StudentId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-5">
                        @Html.EditorFor(model => model.student.StudentId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.student.StudentId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.student.StudentSex, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-5">
                        <select class="form-select" id="student.StudentSex" name="student.StudentSex">
                            <option selected>請選擇性別...</option>
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.student.StudentSex, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(model => model.CourseId, new { @class = "form-control", @Value = Model.CourseId })
                <div class="mb-3">
                    <input type="submit" value="送出" class="btn btn-primary" />
                    <input type="button" value="取消" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "StudentManagement", new { cid = Model.CourseId})'" />
                </div>
            </div>
        }
    </div>
</div>

@section scripts
    {
    <script>
        $(function () {
            $("#registerform").submit(function (e) {
                $("#student_SPassword").val($("#student_SID").val());
                return true;
            });
        });
    </script>
}
