@using LMSweb.Assets;
@inject LMSweb.Services.StudentManagementSercices StudentManagementSercices;
@model MissionIndexViewModel

@{
    ViewBag.Title = "Index";

    // 編號變數
    int k = 1;
    
    string CreateUrl = Url.Action("Create", "Mission", new { CID = Model.CourseID }) ?? "";
    string CopyUrl = Url.Action("SelectCourses", "Mission", new { cid = Model.CourseID }) ?? "";

    if(!StudentManagementSercices.HasStudentInCourse(Model.CourseID))
    {
        CreateUrl = Url.Action("Index", "StudentManagement", new { cid = Model.CourseID, firstCreate = true }) ?? "";
        CopyUrl = Url.Action("Index", "StudentManagement", new { cid = Model.CourseID, firstCreate = true }) ?? "";
    }
    else if (!StudentManagementSercices.HasGroupInCourse(Model.CourseID))
    {
        CreateUrl = Url.Action("Group", "StudentManagement", new { cid = Model.CourseID }) ?? "";
        CopyUrl = Url.Action("Group", "StudentManagement", new { cid = Model.CourseID }) ?? "";
    }
}

@if (User.IsInRole("Teacher"))
{
    @section NavPills {
        <ul class="nav nav-pills me-auto ms-3">
            @Html.Partial("~/Views/Nav/_TeacherNavPartial.cshtml", new TeacherNavViewModel { CourseID = Model.CourseID , ActiveIndex = 0})
        </ul>
    }
}

<div class="container">

    @if (User.IsInRole("Teacher"))
    {
        @Html.Partial("~/Views/AllPartial/_ViewTitlePartial.cshtml",
            new ViewTitlePartialViewModel { h1 = @$"課程名稱：{Model.CourseName}",
                                            h2 = GlobalClass.GetTypeString(Model.TestType) })
    }
    else
    {
        @Html.Partial("~/Views/AllPartial/_ViewTitlePartial.cshtml",
            new ViewTitlePartialViewModel { h1 = @$"課程名稱：{Model.CourseName}"})
    }

    <div class="card m-3 p-4">
        <div class="row mb-3">
            <div class="col">
                <h3>任務列表</h3>
            </div>
            @if (User.IsInRole("Teacher"))
            {
                <div class="col d-flex justify-content-end me-2">
                    <a href="@CreateUrl" class="btn btn-primary w-auto mx-2 my-auto">
                        <i class="bi bi-plus-lg"></i>
                        新增任務
                    </a>

                    <a href="@CopyUrl" class="btn btn-primary w-auto my-auto">
                        <i class="bi bi-files"></i>
                        複製任務
                    </a>
                </div>
            }
        </div>
        @if (Model.Missions.Count() == 0)
        {
            <div class="my-5">
                <p class="alert alert-info">目前還沒有新增任務哦~</p>
            </div>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr class="row mx-1">
                        <th class="col-1">編號</th>
                        <th class="col-3">
                            @Html.DisplayNameFor(model => model.Missions.First().Name)
                        </th>
                        <th class="col">
                            @Html.DisplayNameFor(model => model.Missions.First().StartDate)
                        </th>
                        <th class="col">
                            @Html.DisplayNameFor(model => model.Missions.First().EndDate)
                        </th>
                        <th class="col"></th>
                    </tr>
                </thead>
                <tbody id="number">
                    @foreach (var item in Model.Missions)
                    {
                        <tr class="row bg-white mx-1">
                            <td class="col-1 align-self-center py-3">
                                <span class='ms-2'>@(k++)</span>
                            </td>
                            <td class="col-3 align-self-center py-3">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="startTime col align-self-center py-3">
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td class="endTime col align-self-center py-3">
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            <td class="d-grid d-flex justify-content-end col">
                                <a href="@Url.Action("Details","Mission", new { mid=item.MID, cid = Model.CourseID})" class="btn btn-primary my-auto">
                                    進入任務
                                </a>
                                @if (User.IsInRole("Teacher"))
                                {
                                    <a href="@Url.Action("Edit", "Mission", new {  mid = item.MID, cid = Model.CourseID})" class="btn btn-link">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                    <a href="@Url.Action("Delete", "Mission",new { mid=item.MID, cid=Model.CourseID})" class="btn btn-link">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
