@model IEnumerable<TeacherHomeViewModel>

@{
    ViewBag.Title = "SelectCourses";

    string currentCourseId = (string)ViewData["CurrentCourseID"];
    TeacherHomeViewModel currentCourse = Model.Where(x => x.CourseID == currentCourseId).FirstOrDefault();

    int k = 1;
}

@section NavPills {
    <ul class="nav nav-pills me-auto ms-3">
        @Html.Partial("~/Views/Nav/_TeacherNavPartial.cshtml", new TeacherNavViewModel { CourseID = currentCourse.CourseID , ActiveIndex = 0})
    </ul>
}

<div class="container">

    @Html.Partial("~/Views/AllPartial/_ViewTitlePartial.cshtml",
    new ViewTitlePartialViewModel { 
        h1 = "複製任務",
        h2 = "" })

    <div class="card m-3 p-4">
        <h4 class="fw-bold ms-2 my-2">複製任務</h4>
        <table class="table table-striped">
            <thead>
                <tr class="row mx-1">
                    <th class="col-1">編號</th>
                    <th class="col-2">
                        @Html.DisplayNameFor(model => currentCourse.CourseID)
                    </th>
                    <th class="col">
                        @Html.DisplayNameFor(model => currentCourse.CourseName)
                    </th>
                    <th class="col-4">
                        @Html.DisplayNameFor(model => currentCourse.TestType)
                    </th>
                    <th class="col"></th>
                </tr>
            </thead>

            <tdody>
                @foreach (var item in Model)
                {
                    <tr class="row bg-white mx-1">
                        <td class="col-1 align-self-center py-3">
                            <span class='ms-2'>@(k++)</span>
                        </td>
                        <td class="col-2 align-self-center py-3">
                            @Html.DisplayFor(modelItem => item.CourseID)
                        </td>
                        <td class="col align-self-center py-3">
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>
                        <td class="col-4 align-self-center py-3">
                            @GlobalClass.GetTypeString(item.TestType)
                        </td>
                        <td class="d-grid d-flex justify-content-end col flex-shrink-0">
                            <a href="@Url.Action("SelectMissions", new { selectedCID = item.CourseID, currentCID = currentCourseId })" class="btn btn-primary my-auto">
                                進入此課程
                            </a>

                        </td>
                    </tr>
                }
            </tdody>

        </table>

    </div>
</div>
