@model GuideGroup

@{
    int k = 0;
    var TotalStap = Model.CurrentStatus.Count();
    string sName = "";

    string activeTag = "";

    var url = Url.Action("Index", "Questionnaire", Model.questionnaireIndexViewModel);
}

<h3 class="ms-3 col-12">@Model.GroupName</h3>

<div id="stepper1" class="bs-stepper col-12">
    <div class="bs-stepper-header" role="tablist">

        @foreach (var Step in Model.CurrentStatus)
        {
            if (k != 0)
            {
                <div class="bs-stepper-line"></div>
            }

            <div class="step" data-target="#@($"{Model.GroupId}{++k}")">

                @{
                    sName = Model.StepsName.ToArray()[k - 1];
                    if ((Step.ToString() == "1") || (k == 1 && Step.ToString() == "0"))
                    {
                        activeTag = "active";
                    }
                    else
                    {
                        activeTag = "";
                    }
                }

                <button type="button" class="step-trigger @activeTag" role="tab" id="@($"{Model.GroupId}{k}")" aria-controls="@($"{Model.GroupId}{k}")">
                    <span class="bs-stepper-circle">@(k)</span>

                    

                    <span class="bs-stepper-label">@sName</span>
                </button>
            </div>

            @* @if ((Step.ToString() == "1"))
            {
                <div class="bs-stepper-line"></div>
            } *@
        }
    </div>
</div>

<div class="col-12 mt-3 mb-2"><hr /></div>


<div class="row">

    @if(Model.Evaluation != null)
    {
        <div class="col-1"></div>
        <h5 class="col-2">評價組別</h5>

        <div class="col row border-end me-3">
            @foreach (var Eva in Model.Evaluation)
            {
                @if(Eva.EvalustionLeaderId != null)
                {
                    <p class="col-5" style="min-height: 50px">@Eva.EvaluationName</p>
                    <a class="btn btn-secondary col-6" style="max-height: 40px" href="@Url.Action("Show", "Evaluation", new {mid = Model.MissionId, buid = Eva.EvalustionLeaderId, auid = Model.GroupLeaderId})">
                        <span>查看作答</span>
                    </a>
                    <div class="col-1"></div>
                }
                else
                {
                    <p class="col-12" style="min-height: 60px">@Eva.EvaluationName</p>
                }
            }
        </div>

        @if (Model.Coaching == null)
        {
            <div class="col-12 mt-3 mb-2"><hr /></div>
        }
        else
        {
            <h5 class="col-2">回饋組別</h5>

            <div class="col row">
                @foreach (var Coa in Model.Coaching)
                {
                    @if(Coa.CoachingLeaderId != null)
                    {
                    <p class="col-5" style="min-height: 50px">@Coa.CoachingName</p>
                    <a class="btn btn-secondary col-6" style="max-height: 40px" href="@Url.Action("Show", "Coaching", new {mid = Model.MissionId, buid = Model.GroupLeaderId, auid = Coa.CoachingLeaderId})">
                        <span>查看作答</span>
                    </a>
                    <div class="col-1"></div>
                    }
                    else
                    {
                        <p class="col-12" style="min-height: 60px">@Coa.CoachingName</p>
                    }
                }
            </div>
            <div class="col-12 mt-3 mb-2"><hr /></div>
        }
    }
</div>

@* <a class="btn btn-secondary col-2 h-50 w-auto mx-auto align-self-center" href="@url">批改作業</a> *@

@if(Model.IsCorrect)
{
    <a class="btn btn-secondary col-2 d-flex align-items-center ms-auto" style="min-height: 60px" href="@Url.Action("Show", "Evaluation" , new {mid = Model.questionnaireIndexViewModel.MissionId, buid = Model.GroupLeaderId})">
        <span class="mx-auto fs-5">查看批改</span>
    </a>
    <a class="btn btn-secondary col-2 d-flex align-items-center ms-2 me-5" style="min-height: 60px" href="@url">
        <span class="mx-auto fs-5">重新批改</span>
    </a>
} 
else
{
    <a class="btn btn-secondary col-2 d-flex align-items-center ms-auto me-5" style="min-height: 60px" href="@url">
        <span class="mx-auto fs-5">批改作業</span>
    </a>
}



<div class="col-12 mt-3 mb-2"></div>