<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LMSWeb2.0</title>

    <link rel="stylesheet" href="~/css/mycss/mainStyle.css" />

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/lib/jasny-bootstrap/css/jasny-bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-fileinput/css/fileinput.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/bs-stepper/dist/css/bs-stepper.min.css" />

    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)
</head>
<body>
    <header id="header">
        @*@RenderSection("header", required: false)*@
        <nav class="navbar navbar-expand-lg navbar-light text-white">
            <div class="container">

                @if (User.IsInRole("Student") == true)
                {
                    <a class="text-light text-decoration-none h3 my-auto" href="@Url.Action("Home", "Student")">
                        LMSWeb 2.0
                    </a>
                }
                else
                {
                    <a class="text-light text-decoration-none h3 my-auto" href="@Url.Action("Home", "Teacher")">
                        LMSWeb 2.0
                    </a>
                }

                @RenderSection("NavPills", required: false)

                <ul class="navbar-nav text-light">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </nav>
    </header>
    <main id="main">
        @RenderBody()
    </main>

    <footer class="w-100">
        <div class="container d-flex flex-wrap text-white">
            <p class="d-block">&copy; @DateTime.Now.Year</p>
            <p class="ms-auto d-block">結合社會共享調節與互動式同儕互評的程式設計合作學習環境</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bs-stepper/dist/js/bs-stepper.min.js"></script>
    
    @RenderSection("scripts", required: false)
    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
</body>
</html>
