@model QuestionnaireAnswerViewModel

@{
    ViewData["Title"] = "Answer";
    int k = 1;
}

<div class="container">
    @Html.Partial("~/Views/AllPartial/_ViewTitlePartial.cshtml",
    new ViewTitlePartialViewModel { h1 = $"{Model.Title}", h2 = @$"任務名稱：{Model.MissionName}"})

    <div class="card m-3 p-3">
        <div class="m-3">
            <table class="table table-striped">
                <thead>
                    <tr class="row">
                        <th class="col-1">編號</th>
                        <th class="col-6">
                            @Html.DisplayNameFor(model => model.Answers[0].Qcontent)
                        </th>
                        <th class="col">
                            @*@Html.DisplayNameFor(model => model.Answers[0].Content[0].OcontentContent)*@
                            答案
                        </th>
                    </tr>
                </thead>
                <tbody id="number">
                    @foreach (var answer in Model.Answers)
                    {
                        <tr class="row">
                            <td class="col-1">
                                <span class='ms-2'>@(k++)</span>
                            </td>
                            <td class="col-3">
                                @Html.DisplayFor(model => answer.Qcontent)
                            </td>
                            <td class="col">
                                @foreach (var content in answer.Content)
                                {
                                    @Html.DisplayFor(model => content.OcontentContent) <br />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a class="btn btn-secondary" href="@Url.Action("Details", "Mission", new {cid = Model.CourseId ,mid = Model.MissionId })">返回任務</a>
    </div>
</div>