@model QuestionnaireIndexViewModel

@{
}

@section topCSS {
    <style>
        input[type="radio"], input[type="checkbox"] {
            display: none;
        }
        input[type="radio"]:checked+label, input[type="checkbox"]:checked+label {
            background-color: #007bff;
            color: white;
            border-radius: 10px;
        }
        input[type="radio"]:checked+label:hover, input[type="checkbox"]:checked+label:hover {
            background-color: #007bff;
            color: white;
            border-radius: 10px;
        }
        input[type="radio"]:checked+label:active, input[type="checkbox"]:checked+label:active {
            background-color: #007bff;
            color: white;
            border-radius: 10px;
        }
        label {
            align-items: center;
        }

        .bg-8C8C8C {
            background-color: #8C8C8C;
        }

        .bg-A4A4A4 {
            background-color: #A4A4A4;
        }
        .number {
            background-color: #8C8C8C;
            color: white;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            text-align: center;
            font-size: 30px;
            line-height: 50px;
            margin-right: 10px;
        }
    </style>
}

<div class="container">

    @*@Html.Partial("~/Views/AllPartial/_ViewTitlePartial.cshtml", 
        new ViewTitlePartialViewModel { h1 = @$"任務名稱：{Model.MissionName}"})*@

    <div class="card m-3 p-3">
        <h1 class="w-auto m-2 fs-2" id="Title"></h1>
    </div>
    <div class="card m-3 p-3">
        <Questionnaire>
        </Questionnaire>

    <div class="row justify-content-end">
        <div class="col"></div>
        <button class="btn btn-primary col-2" id="Submit">送出</button>
        <div class="col-1"></div>
    </div>
</div>

<template id="SingleChoice_body">
    <!-- 單選題 -->
    <form class="row m-2">
        <div class="col-4 row align-content-center row">
            <div class="number col-2" id="Q_number"></div>
            <p class="fs-5 col my-auto" id="Q_name"></p>
        </div>
        <div class="col-8 row" id="Optiona"></div>
    </form>
</template>

<template id="SingleChoice_Option">
    <div class="form-check form-check-inline col bg-8C8C8C btn row" style="min-height: 100px; padding: 0px; margin: 10px;" >
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="" value="">
        <label class="form-check-label h-100 col-12 row justify-content-center" for="" style="padding: 0px; margin: 0px;">
            <p class="align-self-center" style="padding: 0px; margin: 0px;">80-90</p>
        </label>
    </div>
</template>

<template id="MultipleChoice_body">
    <!-- 多選題 -->
    <form class="row m-2">
        <div class="col-4 row align-content-center row">
            <div class="number col-2" id="Q_number"></div>
            <p class="fs-5 col my-auto" id="Q_name"></p>
        </div>
        <div class="col-8 row" id="Optiona"></div>
    </form>
</template>

<template id="MultipleChoice_Option">
    <div class="form-check form-check-inline col bg-8C8C8C btn row" style="min-height: 100px; padding: 0px; margin: 10px;">
        <input class="form-check-input" type="checkbox" id="" value="">
        <label class="form-check-label h-100 col-12 row justify-content-center" for="" style="padding: 0px; margin: 0px;">
            <p class="align-self-center" style="padding: 0px; margin: 0px;">80-90</p>
        </label>
    </div>
</template>

<template id="EssayQuestion_body">
    <form class="row m-2">
        <div class="col-4 row align-content-center row">
            <div class="number col-2" id="Q_number"></div>
            <p class="fs-5 col my-auto" id="Q_name"></p>
        </div>
        <div class="col-8 row" id="Optiona">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
</template>

@section endJS {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        /*
            單選題    SingleChoice
            多選題    MultipleChoice
            問答題    EssayQuestion
            */
        var Title;
        var Question;
        var questions;

        window.onload = async function () {
            // 1. 取得題庫
            questions = await getQuestions();
            console.log(Question);
            // 2. 顯示題庫
            await displayQuestions();

            // 3. 送出
            // $("#Submit").click(async function () {
            //    // 3.1 取得答案
            //    var answers = await getAnswers();
            //    console.log(answers);
            //    // 3.2 送出答案
            //    sendAnswers(answers);
            //});
        }

        async function getQuestions() {
            var output;
            var requestOptions = {
                method: 'GET',
                redirect: 'follow'
            };

            //https://localhost:7197/api/Questionnaire?tasktype=1&tasksteps=4
            //await fetch("https://localhost:7197/api/Questionnaire?tasktype=1&tasksteps=4", requestOptions)
            await fetch("@Url.Action("Index","Home")api/Questionnaire?tasktype=@Model.TaskType&tasksteps=@Model.TaskSteps", requestOptions)
                .then(response => response.text())
                // .then(result => {
                //     output = JSON.parse(result);
                // })
                .then((data) => {
                    // 在这里你可以使用解析后的数据
                    console.log(data);
                    output = JSON.parse(data);
                    console.log(output.topic);
                    output = output.topic;
                    Title = output.name;
                    Question = output.questions;
                })
                .catch(error => console.log('error', error));

            return output;
        }
        
        async function displayQuestions() {
            $("#Title").text(Title);
            var k = 1;
            var optId = 1;

            Question.forEach(que => {

                if (que.type == "0") {
                    var options = que.options;
                    let template = $("#SingleChoice_body").html();
                    var formCheck = $(template);

                    formCheck.find("#Q_number").text(k++);
                    formCheck.find("#Q_name").text(que.content);
                    options.forEach(opt => {
                        let template2 = $("#SingleChoice_Option").html();
                        var formCheck2 = $(template2);
                        console.log(template2);
                        formCheck2.find("input").attr("id", opt.optionId);
                        formCheck2.find("input").attr("value", opt.content);
                        formCheck2.find("label").attr("for", opt.optionId);
                        formCheck2.find("label").attr("id", opt.optionId);
                        formCheck2.find("label").text(opt.content);
                        formCheck.find("#Optiona").append(formCheck2);
                    });
                    formCheck.appendTo("Questionnaire");
                }
                else if (que.type == "1") {
                    var options = que.options;
                    let template = $("#MultipleChoice_body").html();
                    var formCheck = $(template);

                    formCheck.find("#Q_number").text(k++);
                    formCheck.find("#Q_name").text(que.content);
                    options.forEach(opt => {
                        let template2 = $("#MultipleChoice_Option").html();
                        var formCheck2 = $(template2);
                        console.log(template2);
                        formCheck2.find("input").attr("id", opt.optionId);
                        formCheck2.find("input").attr("value", opt.content);
                        formCheck2.find("label").attr("for", opt.optionId);
                        formCheck2.find("label").attr("id", opt.optionId);
                        formCheck2.find("label").text(opt.content);
                        formCheck.find("#Optiona").append(formCheck2);
                    });
                    formCheck.appendTo("Questionnaire");
                }
            });
            Question.forEach(que => {
                if (que.type == "2") {
                    let template = $("#EssayQuestion_body").html();
                    var formCheck = $(template);

                    formCheck.find("#Q_number").text(k++);
                    formCheck.find("#Q_name").text(que.content);
                    formCheck.appendTo("Questionnaire");
                }
            });
        }

        async function getAnswers() {

            var Answers = [];
            

            Question.forEach(que => {
                var ContentList = [];
                if (que.type == "0") {
                    var options = que.options;
                    options.forEach(opt => {
                        if (document.getElementById(opt.optionId).checked) {
                            let CList = {
                                "OptionId": opt.optionId,
                                "OcontentContent": document.getElementById(opt.optionId).value
                            };
                            ContentList.push(CList);
                        }
                    });
                }
                else if (que.type == "1") {
                    var options = que.options;
                    options.forEach(opt => {
                        if (document.getElementById(opt.optionId).checked) {
                            let CList = {
                                "OptionId": opt.optionId,
                                "OcontentContent": document.getElementById(opt.optionId).value
                            };
                            ContentList.push(CList);
                        }
                    });
                }
                else if (que.type == "2") {
                    var ContentList = [{
                        "OcontentContent": document.getElementById("exampleFormControlTextarea1").value
                    }];
                }

                var answer = {
                    "QuestionId": que.questionId,
                    "Content": ContentList
                };

                Answers.push(answer);
            });

            return Answers;
        }

        async function sendAnswers(answers) {
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var send = {
                "UID" : "@Model.UID",
                "MissionId" : "@Model.MissionId",
                "Answers" : answers
            };

            console.log(send);

            var raw = JSON.stringify(send);

            console.log(raw);

            var requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

                await fetch("@Url.Action("Index","Home")api/Questionnaire", requestOptions)
                .then(response => response.text())
                .then(result => console.log(result))
                .catch(error => console.log('error', error));
        }

        // 確認送出
        $("#Submit").click(async function () {
            // 3.1 取得答案
            var answers = await getAnswers();
            console.log(answers);
            // 3.2 送出答案
            sendAnswers(answers);

            Swal.fire({
                title: '送出後無法更改喔，確定要送出嗎?',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: '送出',
                denyButtonText: `再想想`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    Swal.fire('Saved!', '', 'success')
                    document.location.href="@Url.Action("Details","Mission")?cid=@Model.CourseId&mid=@Model.MissionId";
                } else if (result.isDenied) {
                    Swal.fire('Changes are not saved', '', 'info')
                }
            })
        });
    </script>
}